<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ask a question</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <h1>WELCOME!</h1>
</head>

<body>
    <form method="POST" action="/submit-answer">

        Message:
        <br>
        <textarea name="message" id="message" rows="6" cols="40" minlength="10"></textarea>
        <input type="hidden" value="{{question_id}}" name="question_id" id="question_id" />
        <br>
        <input type="submit" value="Submit">

    </form>
</body>
</html>