<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Question</title>
</head>
<body>

<legend>Ask a new question!</legend>

<form action=""  method="post">
    <div>
        <label for="title"> Title </label><br>
        <input type="text" name="title" required>
    </div>

    <div>
        <label for="message"> Message </label><br>
        <textarea name="message", rows="20", cols="50", placeholder="Tell us more about your question!"></textarea>
    </div>

    <button type="submit"> SEND! </button>

</form>

</body>
</html>