<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask mate</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                {% for title in data[0] %}
                <th> {{ title.capitalize() }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for index in range(data| length - 1) %}
        <tr>
            {% for element in data[index + 1] %}
                {% if element == data[index + 1][4] %}
                <td><a href="{{ url_for('question_display', question_id = data[index + 1][0])}}"> {{ element }}</a></td>
                {% else %}
            <td>{{ element }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>