{% extends 'layout.html' %}

{% block content %}
    <h1>HOME PAGE</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>{{ i_d }}</th>
                    <th>{{ submission_time_ }}</th>
                    <th>{{ view_number_ }}</th>
                    <th>{{ vote_number_ }}</th>
                    <th>{{ title_ }}</th>
                    <th>{{ message_ }}</th>
                    <th>{{ image_ }}</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.submission_time }}</td>
                    <td>{{ question.view_number }}</td>
                    <td>{{ question.vote_number }}</td>
                    <td>{{ question.title }}</td>
                    <td>{{ question.message }}</td>
                    <td>{{ question.image }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}