<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Question</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    {% block content %}
        <a href="/question/{{ question_id }}">Back to question</a>
        <form method="POST" action="/question/{{ question_id }}/edit-question">

            Message:<br>
            {% for message in question %}
                <textarea name="message" id="message" rows="6" cols="40" minlength="10">{{ message.message }}</textarea>
            {% endfor %}
            <--!input type="hidden" value="{{ question_id }}" name="question_id" id="question_id" /--><br>
            <button type="submit">Submit</button>

        </form>
    {% endblock %}
</body>
</html>