<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Question</title>
    <style>
        *
        {
            text-align: center;
            padding: 10px;
        }

    </style>
</head>
<body>
<h1> Edit </h1>


<h2> Modification </h2>

<form action="/question/{{question_id}}/edit", method="POST">

    <legend> New Title </legend>
    <input type="text" name="q_title" value={{question_title}}><br>

    <legend>New Question</legend>
    <textarea name="q_message" cols="50" rows="10" required> {{question_mess}} </textarea>
    <button type="submit">press that shit niga</button>

</form>
</body>
</html>