<!doctype html>
<html>
<link rel="stylesheet" href="/static/css/main.css">
<head>
    <meta charset="utf-8">
    <title> Ask Mate </title>
    <div class="header">
        <h1>WELCOME!</h1>
    </div>
</head>
<body>
    <a href="/new-question" class="btn">ASK A QUESTION!</a>
    {% for i in questions_dict %}
        <p>
            <a href="question/{{ i['id'] }}" class="question-title"><h3>{{ i['title'] }}</h3></a>
        </p>
        <p class="question-message">{{ i['message'] }}</p>
    {% endfor %}
    <p>
    <a href="{{ url_for('route_list') }}" id="top_link">GO TO TOP</a>
    </p>
</body>
</html>