<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask mate</title>
    <style>

    *
    {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
        table,th, td
    {

    border : 1px solid black;
    padding : 15px;
    text-align: center;

    }

table
    {
    border-collapse: collapse;
    }

    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                {% for title in data_table[0] %}
                <th> {{ title.capitalize().replace('_', ' ') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in data_table[1:] %}
        <tr>
            <td>{{row[0]}}</td>

            {% for element in row[1:4] %}
                <td>{{element}}</td>
            {% endfor %}

                <td><a href="{{ url_for('question_display', question_id = row[0])}}"> {{ row[4] }}</a></td>

            {%for element in row[5:]%}
            <td>{{element}}</td>
            {% endfor %}


        </tr>
        {% endfor %}
        </tbody>

    </table>

    <a href="/add_question">Ask Something New!</a>
</body>
</html>