<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new user Story | Super Sprinter 3000</title>
</head>
<body>
<h1>Add User Story</h1>
<form action="/story" method="post">
    <p>
        <label for="story_title">Story title:</label><br>
        <input name="story_title" type="text" minlength="5" required>
    </p>
    <p>
        <label for="user_story">User Story:</label><br>
        <textarea name="user_story" required rows="5" cols="40"></textarea>
    </p>
    <p>
        <label for="acceptance_criteria">Acceptance Criteria:</label><br>
        <textarea name="acceptance_criteria" required rows="5" cols="40"></textarea>
    </p>
    <p>
        <label for="business_value">Business value:</label><br>
        <input name="business_value" type="number" min="100" max="1500" step="100">
    </p>
    <p>
        <label for="estimation">Estimation:</label><br>
        <input name="estimation" type="number" min="0.5" max="40" step="0.5">
    </p>
    <button type="submit" >Add new User Story</button>

    </form>
</body>
</html>